*.pyc
docs_src/build/
build
dist
.idea
*.log
*egg-info/
log
venv
cbpi/extension/ui
node_modules
.DS_STORE
.DS_Store
.vscode
.venv*
.DS_Store 
config/*
logs/
.coverage
.devcontainer/cbpi-dev-config/*
cbpi4-*
temp*
*.patch