aiohttp==3.8.1
aiohttp-auth==0.1.1 
aiohttp-route-decorator==0.1.4 
aiohttp-security==0.4.0 
aiohttp-session==2.11.0 
aiohttp-swagger==1.0.16 
aiojobs==1.0.0 
aiosqlite==0.17.0 
cryptography==36.0.1 
requests==2.27.1 
voluptuous==0.12.2 
pyfiglet==0.8.post1 
pandas==1.4.1
shortuuid==1.0.8
tabulate==0.8.9
numpy==1.22.2
cbpi4ui
click==8.0.4
importlib_metadata==4.11.1
asyncio-mqtt
psutil==5.9.0
zipp>=0.5
PyInquirer==1.0.3
colorama==0.4.4